In [39]:
import chardet
import numpy as np
import pandas as pd
import codecs

In [30]:
file = './reservations2018.csv'

In [46]:
pd.read_csv(file, nrows=5)

,HistoricalReservationID,OrderNumber,Agency,OrgID,CodeHierarchy,RegionCode,RegionDescription,ParentLocationID,ParentLocation,LegacyFacilityID,...,Bus,Bicycle,Snowmobile,OffRoadlAllTerrainVehicle,PowerBoat,PickupCamper,LargeTentOver9x12,SmallTent,Marinaboat,LatLongPoint
0,2976269875,4-4358197,NPS,128,|1|70904|74265|70710|70711|,KLGO-9825,Klondike Gold Rush National Historical Park,74265,Alaska Region,70711,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<e6100000 010cabaa aaaaaaba 4d40610b b6600bea ...
1,2976269875,4-4358197,NPS,128,|1|70904|74265|70710|70711|,KLGO-9825,Klondike Gold Rush National Historical Park,74265,Alaska Region,70711,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<e6100000 010cabaa aaaaaaba 4d40610b b6600bea ...
2,2976269875,4-4358197,NPS,128,|1|70904|74265|70710|70711|,KLGO-9825,Klondike Gold Rush National Historical Park,74265,Alaska Region,70711,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<e6100000 010cabaa aaaaaaba 4d40610b b6600bea ...
3,2976371845,4-4358345,NPS,128,|1|70904|74265|70710|70711|,KLGO-9825,Klondike Gold Rush National Historical Park,74265,Alaska Region,70711,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<e6100000 010cabaa aaaaaaba 4d40610b b6600bea ...
4,2976358486,4-4358374,NPS,128,|1|70904|74265|70710|70711|,KLGO-9825,Klondike Gold Rush National Historical Park,74265,Alaska Region,70711,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<e6100000 010cabaa aaaaaaba 4d40610b b6600bea ...

In [40]:
# attempt to load the data using various codecs
types_of_encoding = ["utf8", "cp1252"]
for encoding_type in types_of_encoding:
    with codecs.open(file, encoding = encoding_type, errors ='replace') as csvfile:
        csv = pd.read_csv(csvfile)

/anaconda3/envs/dsi/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (12,17,29,31,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [45]:
csv.shape

(3299805, 57)

In [52]:
# get only reservations from the National Park Service, OrdID of 128
csv = csv[csv['OrgID'] == 128]

In [58]:
# get only site type entities
csv = csv[csv['EntityType'] == 'Site']

In [77]:
# convert date columns to datetime, y-m-d
csv['EndDate'] = pd.to_datetime(csv['EndDate'], format= '%Y-%m-%d')
csv['StartDate'] = pd.to_datetime(csv['StartDate'], format= '%Y-%m-%d')
csv['OrderDate'] = pd.to_datetime(csv['OrderDate'], format= '%Y-%m-%d')

In [80]:
csv[['OrderDate', 'StartDate', 'EndDate']].dtypes

OrderDate    datetime64[ns]
StartDate    datetime64[ns]
EndDate      datetime64[ns]
dtype: object

In [84]:
csv.columns

Index(['HistoricalReservationID', 'OrderNumber', 'Agency', 'OrgID',
       'CodeHierarchy', 'RegionCode', 'RegionDescription', 'ParentLocationID',
       'ParentLocation', 'LegacyFacilityID', 'Park', 'SiteType', 'UseType',
       'ProductID', 'EntityType', 'EntityID', 'FacilityID', 'FacilityZIP',
       'FacilityState', 'FacilityLongitude', 'FacilityLatitude', 'CustomerZIP',
       'CustomerState', 'CustomerCountry', 'Tax', 'UseFee', 'TranFee',
       'AttrFee', 'TotalBeforeTax', 'TotalPaid', 'StartDate', 'EndDate',
       'OrderDate', 'NumberOfPeople', 'Tent', 'Popup', 'Trailer',
       'RVMotorhome', 'Boat', 'HorseTrailer', 'Car', 'FifthWheel', 'Van',
       'CanoeKayak', 'BoatTrailer', 'Motorcycle', 'Truck', 'Bus', 'Bicycle',
       'Snowmobile', 'OffRoadlAllTerrainVehicle', 'PowerBoat', 'PickupCamper',
       'LargeTentOver9x12', 'SmallTent', 'Marinaboat', 'LatLongPoint'],
      dtype='object')

In [90]:
# drop duplicate order numbers
csv = csv.drop_duplicates('OrderNumber')

In [82]:
# write cleaned data for later usage
csv.to_csv('./nps_res_2018.csv')