# How to Forecast a Time Series with Python

Wouldn't it be nice to know the future? This is the notebook that relates to the blog post on medium. Please check the blog for visualizations and explanations, this notebook is really just for the code :)


## Processing the Data

Let's explore the Industrial production of electric and gas utilities in the United States, from the years 1985-2018, with our frequency being Monthly production output.

You can access this data here: https://fred.stlouisfed.org/series/IPG2211A2N

This data measures the real output of all relevant establishments located in the United States, regardless of their ownership, but not those located in U.S. territories.

In [1]:
%matplotlib inline
import pandas as pd
data = pd.read_csv("Electric_Production.csv",index_col=0)
data.head()

            IPG2211A2N
DATE
1985-01-01     72.5052
1985-02-01     70.6720
1985-03-01     62.4502
1985-04-01     57.4714
1985-05-01     55.3151

Right now our index is actually just a list of strings that look like a date, we'll want to adjust these to be timestamps, that way our forecasting analysis will be able to interpret these values:

In [2]:
data.index

Index(['1985-01-01', '1985-02-01', '1985-03-01', '1985-04-01', '1985-05-01',
       '1985-06-01', '1985-07-01', '1985-08-01', '1985-09-01', '1985-10-01',
       ...
       '2017-04-01', '2017-05-01', '2017-06-01', '2017-07-01', '2017-08-01',
       '2017-09-01', '2017-10-01', '2017-11-01', '2017-12-01', '2018-01-01'],
      dtype='object', name='DATE', length=397)

In [3]:
data.index = pd.to_datetime(data.index)

In [4]:
data.head()

            IPG2211A2N
DATE
1985-01-01     72.5052
1985-02-01     70.6720
1985-03-01     62.4502
1985-04-01     57.4714
1985-05-01     55.3151

In [5]:
data.index

DatetimeIndex(['1985-01-01', '1985-02-01', '1985-03-01', '1985-04-01',
               '1985-05-01', '1985-06-01', '1985-07-01', '1985-08-01',
               '1985-09-01', '1985-10-01',
               ...
               '2017-04-01', '2017-05-01', '2017-06-01', '2017-07-01',
               '2017-08-01', '2017-09-01', '2017-10-01', '2017-11-01',
               '2017-12-01', '2018-01-01'],
              dtype='datetime64[ns]', name='DATE', length=397, freq=None)

Let's first make sure that the data doesn't have any missing data points:

In [6]:
data[pd.isnull(data['IPG2211A2N'])]

Empty DataFrame
Columns: [IPG2211A2N]
Index: []

Let's also rename this column since its hard to remember what "IPG2211A2N" code stands for:

In [7]:
data.columns = ['Energy Production']

In [8]:
data.head()

            Energy Production
DATE
1985-01-01            72.5052
1985-02-01            70.6720
1985-03-01            62.4502
1985-04-01            57.4714
1985-05-01            55.3151

In [9]:
import plotly
plotly.tools.set_credentials_file(username= 'templecm4y', api_key= 'sZiFEGF0iOEDu94PXYKa')

In [10]:
from plotly.plotly import plot_mpl
from statsmodels.tsa.seasonal import seasonal_decompose
result = seasonal_decompose(data, model='multiplicative')
fig = result.plot()
plot_mpl(fig)

'https://plot.ly/~templecm4y/6'

In [11]:
import plotly.plotly as ply
import cufflinks as cf
# Check the docs on setting up offline plotting

In [12]:
data.iplot(title="Energy Production Jan 1985--Jan 2018", theme='pearl')

C:\Users\templ\Anaconda3\envs\dsi\lib\site-packages\IPython\core\display.py:689: UserWarning:

Consider using IPython.display.IFrame instead

In [13]:
from pmdarima.arima import auto_arima

**he AIC measures how well a model fits the data while taking into account the overall complexity of the model. A model that fits the data very well while using lots of features will be assigned a larger AIC score than a model that uses fewer features to achieve the same goodness-of-fit. Therefore, we are interested in finding the model that yields the lowest AIC value.

In [35]:
stepwise_model = auto_arima(data, start_p=1, start_q=1,
                           max_p=3, max_q=3, m=12,
                           start_P=0, seasonal=True,
                           d=1, D=1, trace=True,
                           error_action='ignore',  
                           suppress_warnings=True, 
                           stepwise=True)

Fit ARIMA: order=(1, 1, 1) seasonal_order=(0, 1, 1, 12); AIC=1782.527, BIC=1802.280, Fit time=1.478 seconds
Fit ARIMA: order=(0, 1, 0) seasonal_order=(0, 1, 0, 12); AIC=2012.117, BIC=2020.018, Fit time=0.028 seconds
Fit ARIMA: order=(1, 1, 0) seasonal_order=(1, 1, 0, 12); AIC=1942.042, BIC=1957.844, Fit time=0.270 seconds
Fit ARIMA: order=(0, 1, 1) seasonal_order=(0, 1, 1, 12); AIC=1837.289, BIC=1853.091, Fit time=0.463 seconds
Fit ARIMA: order=(1, 1, 1) seasonal_order=(1, 1, 1, 12); AIC=1783.911, BIC=1807.615, Fit time=1.940 seconds
Fit ARIMA: order=(1, 1, 1) seasonal_order=(0, 1, 0, 12); AIC=1920.884, BIC=1936.686, Fit time=0.445 seconds
Fit ARIMA: order=(1, 1, 1) seasonal_order=(0, 1, 2, 12); AIC=1783.389, BIC=1807.093, Fit time=5.065 seconds
Fit ARIMA: order=(1, 1, 1) seasonal_order=(1, 1, 2, 12); AIC=1781.982, BIC=1809.637, Fit time=4.717 seconds
Fit ARIMA: order=(0, 1, 1) seasonal_order=(1, 1, 2, 12); AIC=1837.164, BIC=1860.868, Fit time=1.636 seconds
Fit ARIMA: order=(2, 1, 1) seasonal_order=(1, 1, 2, 12); AIC=1782.513, BIC=1814.118, Fit time=5.444 seconds
Fit ARIMA: order=(1, 1, 0) seasonal_order=(1, 1, 2, 12); AIC=1852.587, BIC=1876.291, Fit time=1.529 seconds
Fit ARIMA: order=(1, 1, 2) seasonal_order=(1, 1, 2, 12); AIC=1782.062, BIC=1813.667, Fit time=4.856 seconds
Fit ARIMA: order=(0, 1, 0) seasonal_order=(1, 1, 2, 12); AIC=1864.184, BIC=1883.937, Fit time=1.312 seconds
Fit ARIMA: order=(2, 1, 2) seasonal_order=(1, 1, 2, 12); AIC=1785.073, BIC=1820.629, Fit time=5.048 seconds
Fit ARIMA: order=(1, 1, 1) seasonal_order=(2, 1, 2, 12); AIC=1770.169, BIC=1801.774, Fit time=5.650 seconds
Fit ARIMA: order=(1, 1, 1) seasonal_order=(2, 1, 1, 12); AIC=1771.290, BIC=1798.945, Fit time=3.894 seconds
Fit ARIMA: order=(0, 1, 1) seasonal_order=(2, 1, 2, 12); AIC=1816.627, BIC=1844.282, Fit time=2.236 seconds
Fit ARIMA: order=(2, 1, 1) seasonal_order=(2, 1, 2, 12); AIC=1772.015, BIC=1807.571, Fit time=5.901 seconds
Fit ARIMA: order=(1, 1, 0) seasonal_order=(2, 1, 2, 12); AIC=1837.278, BIC=1864.933, Fit time=2.129 seconds
Fit ARIMA: order=(1, 1, 2) seasonal_order=(2, 1, 2, 12); AIC=1771.113, BIC=1806.668, Fit time=6.104 seconds
Fit ARIMA: order=(0, 1, 0) seasonal_order=(2, 1, 2, 12); AIC=1854.601, BIC=1878.305, Fit time=1.869 seconds
Fit ARIMA: order=(2, 1, 2) seasonal_order=(2, 1, 2, 12); AIC=1775.729, BIC=1815.236, Fit time=6.093 seconds
Total fit time: 68.111 seconds

In [15]:
stepwise_model.aic()

1770.1690307886902

## Train Test Split

In [16]:
data.head()

            Energy Production
DATE
1985-01-01            72.5052
1985-02-01            70.6720
1985-03-01            62.4502
1985-04-01            57.4714
1985-05-01            55.3151

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 397 entries, 1985-01-01 to 2018-01-01
Data columns (total 1 columns):
Energy Production    397 non-null float64
dtypes: float64(1)
memory usage: 6.2 KB

We'll train on 20 years of data, from the years 1985-2015 and test our forcast on the years after that and compare it to the real data.

In [18]:
train = data.loc['1985-01-01':'2016-12-01']

In [19]:
train.tail()

            Energy Production
DATE
2016-08-01           115.5159
2016-09-01           102.7637
2016-10-01            91.4867
2016-11-01            92.8900
2016-12-01           112.7694

In [20]:
test = data.loc['2015-01-01':]

In [21]:
test.head()

            Energy Production
DATE
2015-01-01           120.2696
2015-02-01           116.3788
2015-03-01           104.4706
2015-04-01            89.7461
2015-05-01            91.0930

In [22]:
test.tail()

            Energy Production
DATE
2017-09-01            98.6154
2017-10-01            93.6137
2017-11-01            97.3359
2017-12-01           114.7212
2018-01-01           129.4048

In [23]:
len(test)

37

In [24]:
stepwise_model.fit(train)

ARIMA(callback=None, disp=0, maxiter=None, method=None, order=(1, 1, 1),
      out_of_sample_size=0, scoring='mse', scoring_args={},
      seasonal_order=(2, 1, 2, 12), solver='lbfgs', start_params=None,
      suppress_warnings=True, transparams=True, trend=None,
      with_intercept=True)

In [25]:
future_forecast = stepwise_model.predict(n_periods=37)

In [26]:
future_forecast

array([120.96922724, 109.86588824, 100.40301096,  90.58760393,
        92.1839488 , 103.27238155, 112.9466827 , 112.21463886,
       100.97034349,  91.94728996,  95.77841964, 111.24305327,
       120.36695862, 110.9472316 , 102.01566839,  90.52162104,
        92.19489312, 102.84304216, 112.08482389, 110.96804693,
       100.77732656,  92.04353812,  96.27746525, 109.57358251,
       119.90451533, 110.99771948, 101.58018457,  90.26556531,
        91.85348092, 102.86743612, 112.12261565, 111.28436733,
       101.12718208,  91.90353575,  95.65076492, 109.20057122,
       119.79227026])

In [27]:
future_forecast = pd.DataFrame(future_forecast,index = test.index,columns=['Prediction'])

In [28]:
future_forecast.head()

            Prediction
DATE
2015-01-01  120.969227
2015-02-01  109.865888
2015-03-01  100.403011
2015-04-01   90.587604
2015-05-01   92.183949

In [1]:
test.head()

NameError: name 'test' is not defined

In [30]:
pd.concat([test,future_forecast],axis=1).iplot()

C:\Users\templ\Anaconda3\envs\dsi\lib\site-packages\IPython\core\display.py:689: UserWarning:

Consider using IPython.display.IFrame instead

In [32]:
future_forecast2 = future_forecast

In [33]:
pd.concat([data,future_forecast2],axis=1).iplot()

C:\Users\templ\Anaconda3\envs\dsi\lib\site-packages\IPython\core\display.py:689: UserWarning:

Consider using IPython.display.IFrame instead